 <div class="modal" id="forgotPasswordModal">
  <ion-header-bar>
    <h1 class="title">Forgot Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeForgotPassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="forgotPasswordData.email">
        </label>
        <label class="item">
          <button ng-click="enterEmailForgotPassword()" class="button button-block button-positive">Enter</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>