<div class="modal" >
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button ng-click="doLogin()" class="button button-block button-positive">Log in</button>
        </label>

        <label class="item">
          <button ng-click="openForgotPassword()" class="button button-block button-dark">Forgot Password</button>

        </label>
        
          <a href="/#/app/register" ng-click="closeLogin()" class="button button-block button-dark">Register</a>
        
      </div>
    </form>
  </ion-content>
</div>

